HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

maven-test-results.txt
results.txt
scan_results_AddOwner.vim
scan_results_CarDTO1.vim
scan_results_CarDTO2.vim
scan_results_GetOwner.vim
scan_results_gridHTML.vim
scan_results_mainHTML.vim
scan_results_ThControllerImpl.vim

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
